@use '../../styles/variables' as *;
.searchPage {
  padding: 1rem;
  background: rgb(218, 226, 182);
  background: linear-gradient(
    90deg,
    rgba(218, 226, 182, 1) 0%,
    rgba(255, 251, 233, 1) 73%
  );
  font-family: $font-family;
  min-height: 100vh;
}
