@use '../styles/variables' as *;
@use '../styles/mixins' as *;
@use '../styles/functions' as *;

.header{
    background-color: color(primary);
    color: slategray;
    height: 10%;
    
    a { color: slategray }
    a:link  {text-decoration: none}
    a:visited {text-decoration: none}
    a:hover  {text-decoration: underline}
    a:active {text-decoration: none}
}