@use '../styles/variables' as *;
@use '../styles/mixins' as *;
@use '../styles/functions' as *;

.layoutMain {
    background-image: url('../assets/backgroundmealimage.webp');
    background-color: color(secondary);
    background-size: cover;
    height: 100%;
}
